/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
   box-sizing: border-box;
}

html, body {
   height: 100%;
   font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
   font-family: 'Bangers', cursive;
   letter-spacing: 1px;
   margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
* {
    text-decoration: none;
}
.container a {
    display: flex;
    font-size: 15px;
    color: gray;
    height: 100%;
    background: none;
}
a {
    margin-top: 50px;
    align-items: baseline;
}
.great-idea .logo {
   display: flex;
   margin-left: 1300px;
   margin-bottom: 10px;
    margin-top: 0 auto;
}
.logo-container {
    display: flex;
    flex-wrap: wrap;
}
.logo-container1 {
   display: flex;
   padding: auto;
   content: center;
   position: relative;
   margin-bottom: 100px;
   margin-left: 3%;
}
.logo-container1 h1 {
   font-size: 75px;
   margin-left: 145px;
   margin-bottom: 100px;
   position: absolute;
}
/* need to fix code snippet */
/* try doing position: absolute;
right: 0;*/
.code-snippet .logo1 {
    display: flex;
    flex-wrap: wrap;
}
.code-snippet {
    display: flex;
    flex-wrap: wrap;
    padding: 0px auto;
    margin-bottom: 30px;
}
.logo-container .code-snippet .logo1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 700px;
}
.button1 {
    display: flex;
    flex-wrap: wrap;
    background: white;
    border: 1px solid black;
    width: 185px;
    height: 40px;
    text-align: center;
    position: absolute;
    margin-top: 260px;
    padding: 5px 40px;
    margin-left: 180px;
}
.main-container {
    display: flex;
}
.main-container .top-main {
    display: flex;
    flex-wrap: wrap;
   width: 40%;
   font-size: 20px;
   text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.main-container .top-main p {
   font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
   border-top: 1px solid black;
   margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
}
.main-container .top-main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
}
.main-container h2 {
   display: flex;
   font-size: 20px;
   margin-left: 20px;
}
figure img {
   width: 94%;
    display: flex;
    flex-wrap: wrap;
   margin-left: 50px;
   height: 250px;
   margin-right: 65px;
}
section logo-container {
    display: flex;
    flex-wrap: wrap;
   width: 900px;
}
.bottom-container {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    flex-wrap: wrap;
}
.bottom-main1 {
    display: flex;
    flex-wrap: wrap;
   margin-left: 50px;
   width: 28%;
   font-size: 20px;
   margin-top: 45px;
   margin-bottom: 40px;
}
.bottom-main2 {
    display: flex;
    flex-wrap: wrap;
   margin-left: 50px;
   width: 28%;
   font-size: 20px;
   margin-top: 45px;
   margin-bottom: 40px;
}
.bottom-main3 {
    display: flex;
    flex-wrap: wrap;
   margin-left: 50px;
   width: 28%;
   font-size: 20px;
   margin-top: 45px;
   margin-bottom: 40px;
}
.bottom-main h3 {
    display: flex;
    text-align: center;
    margin-right: 10px;
}
.contact-container {
   display: flex;
   width: 1500px;
   margin-left: 40px;
   border-top: 1px solid black;
}
.contact-container address {
   display: flexbox;
   text-align: left;
   width: 900px;
   margin-bottom: 50px;
   margin-left: 0px;
   margin-top: 40px;
}
.contact-container h4 {
   text-decoration: none;
   margin-left: 0px;
   position: absolute;
   margin-top: 20px;
}
footer h6 {
   width: 1000px;
   margin-left: 210px;
   text-align: center;
}
/* Services CSS */
.top-line nav {
    width: 1000px;
}
nav a {
   display: flex;
   font-size: 20px;
   flex-wrap: wrap;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p {
   font-size: 18px;
}
.top-line a {
   text-decoration: none;
    color: gray;
    position: inherit;
}
.logo {
    display: flex;
    position: absolute;
    right: 90px;
    top: 40px;
    flex-wrap: wrap;
    
}
.services-header-img {
   display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    margin-top: 30px;
}
.services {
   display: flex;
    margin: 0px 50px 2px 50px;
    border-bottom: 1px solid black;
    position: absolute;
}
.services h1 {
    font-size: 28px;
    margin-right: 20px;
}
.services p {
    font-size: 20px;
    position: center;
    margin-bottom: 20px;
}
button {
   padding: 5px 40px;
   text-decoration: none;
    font-size: 12px;
    position: center;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background-color: white;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    align-content
}
.boxes .box1 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    margin: 110px 30px 20px 80px; ;
    padding: 20px;
    background-color: whitesmoke;
}
.box1 {
    font-size: 20px;

}
.boxes p {
    font-size: 18px;
}
.boxes .box2 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 90px;
    background-color: whitesmoke;
}
.boxes .box3 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 110px;
    background-color: whitesmoke;
}
.boxes .box4 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 46px;
    margin-top: 35px;
    background-color: whitesmoke;
}
.boxes .box5 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-right: 30px;
    margin-left: 110px;
    margin-bottom: 28px;
    background-color: whitesmoke;
}
.boxes .box6 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    padding: 20px;
    background-color: whitesmoke;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.facts {
    display: flex;
    font-size: 20px;
    position: relative;
    border-top: 1px solid black;
    margin: 210px 50px 40px 50px;
}
.facts h3 {
    margin-top: 40px;
    margin-right: 20px;
}
.facts p {
    display: flex;
    width: 28%;
    position: absolute;
    margin-top: 90px;
}
.services-info-img {
    display: flex;
    position: ;
    margin-left: 700px;
    margin-right: 10px;
    margin-top: 20px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: square;
    height: 30%;
    width: 10%;
    position: absolute;
    margin-top: 230px;
    margin-left: 40px;
}
footer h6 {
   display: flexbox;
   margin-left: 350px;
}
